.btn-lang-en-1 {
  margin-left: 30px;
}
.container-1 {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.67);
  border-left: 3px groove #998fdc;
  border-right: 3px groove #998fdc;
  box-shadow: 0 0px 20px 5px rgba(1, 1, 1, 0.3);
  border-radius: 15px;
}

.language-and-appointment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.appointment-only {
  margin-right: 30px;
}

.lazer-rs-title-rules {
  font-family: "Courgette", cursive;
  font-size: 64px;
  color: #998fdc;
  text-align: right;
  margin-right: 170px;
}

.rules-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rules-item-1 {
  margin-left: 100px;
}

.div-text-rules {
  background-color: #998fdc;
  padding: 50px;
  border-radius: 150px;
  border: 1px groove black;
  box-shadow: 0 0 50px 10px rgba(1, 1, 1, 0.3);
  color: white;
  font-family: "Courgette", cursive;
  font-size: 28px;
}
.text-rules-2 {
  margin-top: 50px;
}

.photo-gerl {
  max-width: 350px;
  border-radius: 5px;
}

.container-all {
  max-width: 1200px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}

.container-2 {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(153, 143, 220, 0.7);
  border-left: 3px groove #998fdc;
  border-right: 3px groove #998fdc;
  box-shadow: 0 0px 20px 1px rgba(1, 1, 1, 0.3);
  border-radius: 15px;
  width: 50%;
  color: white;
}
.container-2:hover {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(153, 143, 220, 0.85);
  border-left: 3px groove #998fdc;
  border-right: 3px groove #998fdc;
  border-radius: 15px;
  width: 50%;
  color: white;
}
.container-3 {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(136, 171, 216, 0.7);
  border-left: 3px groove #998fdc;
  border-right: 3px groove #998fdc;
  box-shadow: 0 0px 20px 1px rgba(1, 1, 1, 0.3);
  border-radius: 15px;
  width: 50%;
  color: white;
}
.container-3:hover {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(136, 171, 216, 0.85);
  border-left: 3px groove #998fdc;
  border-right: 3px groove #998fdc;
  border-radius: 15px;
  width: 50%;
  color: white;
}
.container-4 {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(115, 100, 202, 0.7);
  border-left: 3px groove #998fdc;
  border-right: 3px groove #998fdc;
  box-shadow: 0 0px 20px 1px rgba(1, 1, 1, 0.3);
  border-radius: 15px;
  color: white;
  padding-bottom: 50px;
}
.container-4:hover {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(115, 100, 202, 0.85);
  border-left: 3px groove #998fdc;
  border-right: 3px groove #998fdc;
  border-radius: 15px;

  color: white;
  padding-bottom: 50px;
}
.how-get-appointment {
  color: white;
  background-color: rgba(1, 1, 1, 0.2);
  box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.3);

  border-radius: 20px;
}

.div-text-how-get-appointment {
  margin: 0 auto;
  max-width: 400px;
  background-color: rgba(1, 1, 1, 0.2);
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.3);
  font-size: 22px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 80%;
}
.text-how-get-appointment {
  padding: 10px;
}

.div-text-visiting-rules {
  margin: 0 auto;
  max-width: 900px;
  background-color: rgba(1, 1, 1, 0.2);
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.3);
  font-size: 22px;
  margin-top: 50px;
  width: 80%;
}

.pointer {
  margin-top: 30px;
}
.pointer-img-ok {
  width: 50px;
}

@media (min-width: 801px) {
  .mobile-contacts {
    display: none;
  }
}

@media (max-width: 800px) {
  .container-1 {
    padding-bottom: 30px;
  }
  .appointment-only {
    display: none;
  }
  .mobile-contacts {
    display: flex;
    margin: 30px auto 0;
    width: 300px;
  }

  .rules-set {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo-gerl {
    display: none;
  }

  .div-text-rules {
    margin-left: 10px;
    margin-right: 10px;
  }

  .text-rules-1,
  .text-rules-2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  .rules-item-1,
  .lazer-rs-title-rules {
    margin: 0;
  }
  .lazer-rs-title-rules {
    font-size: 48px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .container-all {
    display: flex;
    flex-direction: column-reverse;
  }
  .container-2,
  .container-3,
  .container-4 {
    width: 90%;
    margin-bottom: 20px;
  }
  .how-get-appointment {
    font-size: 24px;
  }
  .text-how-get-appointment {
    font-size: 14px;
  }
  .pointer-img-ok {
    display: none;
  }
}

@media (max-width: 450px) {
  .mobile-contacts {
    display: flex;
    margin: 30px auto 0;
    width: 200px;
  }
}
