.lang-writeUs-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-price-core {
  text-align: center;
  margin-top: 20px;
  color: #998fdc;
  font-size: 64px;
  border-bottom: 3px groove #998fdc;
  text-transform: uppercase;
}

.title-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-name-woman,
.title-name-man {
  width: 40%;
  margin: 0;
  margin-top: 10px;
  flex: auto;
}

.gerl-icon-title {
  width: 85px;
  margin-top: 20px;
  border-radius: 100px;
}
.title-name-man-mobile,
.title-name-woman-mobile,
#link-direct-inst {
  display: none;
}

.price-all {
  display: flex;
  justify-content: space-around;
  color: white;
}
.price-man .price-set-man .price-item-man-1 .price-text,
.price-man .price-set-man .price-item-man-2 .price-text,
.price-man .price-set-man .price-item-man-3 .price-text,
.price-man .price-set-man .price-item-man-4 .price-text,
.price-man .price-set-man .price-item-man-5 .price-text,
.price-man .price-set-man .price-item-man-6 .price-text {
  flex-direction: row-reverse;
}
.price-man,
.price-woman {
  width: 40%;
}

.price-woman {
  border-right: 1px groove #998fdc;
  border-radius: 10px;
}

.price-man {
  border-left: 1px groove #998fdc;
  border-radius: 10px;
}

.price-title {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
  color: white;
  font-size: 28px;
  padding-top: 5px;
}

/* FOR WOMAN */
.price-item-woman-1 {
  background-color: #998fdc;
  border-radius: 30px;
  margin-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: -10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-woman-2 {
  background-color: #9a84db;
  border-radius: 30px;
  margin-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: -10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-woman-3 {
  background-color: #a685e0;
  border-radius: 30px;
  margin-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: -10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-woman-4 {
  background-color: #b18fe0;
  border-radius: 30px;
  margin-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: -10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-woman-5 {
  background-color: #c09ce3;
  border-radius: 30px;
  margin-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: -10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-woman-6 {
  background-color: #caa5e4;
  border-radius: 30px;
  margin-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: -10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

/* FOR MAN */
.price-item-man-1 {
  background-color: #88abd8;
  border-radius: 30px;
  margin-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-man-2 {
  background-color: #78a0d3;
  border-radius: 30px;
  margin-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-man-3 {
  background-color: #6d98d0;
  border-radius: 30px;
  margin-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-man-4 {
  background-color: #618fcc;
  border-radius: 30px;
  margin-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-man-5 {
  background-color: #598ac9;
  border-radius: 30px;
  margin-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 15px 1px rgba(1, 1, 1, 0.3);
}

.price-item-man-6 {
  background-color: #5284c7;
  border-radius: 30px;
  margin-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 15px 1px rgba(1, 1, 1, 0.3);
  padding-bottom: 125px;
}

.price-text {
  border: 1px groove white;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
}

.price-text:hover {
  background-color: rgba(251, 251, 251, 1);
  color: #2b2079;
}

.price-text-core {
  padding: 0 3px;
  text-align: left;
}

.price-text-costs {
  border: 1px groove white;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
}

.pointer-set {
  padding: 30px 0;
}

@media (max-width: 1020px) {
  .price-all {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-woman,
  .price-man {
    width: 90%;
    border: none;
  }
  .price-item-woman-1,
  .price-item-woman-2,
  .price-item-woman-3,
  .price-item-woman-4,
  .price-item-woman-5,
  .price-item-woman-6,
  .price-item-man-1,
  .price-item-man-2,
  .price-item-man-3,
  .price-item-man-4,
  .price-item-man-5,
  .price-item-man-6 {
    margin: 40px 0;
    box-shadow: 0 0 10px 5px rgba(1, 1, 1, 0.3);
  }
  .title-name-woman,
  .title-name-man {
    display: none;
  }
  .title-name-woman-mobile,
  .title-name-man-mobile {
    display: block;
    margin: 30px 0 0;
    font-size: 32px;
  }
  .price-title {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 800px) {
  .price-title {
    font-size: 24px;
  }
  .price-text-core,
  .price-text-costs {
    font-size: 14px;
  }
  .contacts-text {
    display: none;
  }

  #link-direct-inst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 16px;
  }
  .title-price-core {
    font-size: 50px;
  }
}

@media (max-width: 750px) {
  .contacts-img {
    padding: 0;
  }
}

@media (max-width: 405px) {
  .price-text-core,
  .price-text-costs {
    font-size: 14px;
  }
  .title-price-core {
    font-size: 38px;
  }
  .price-title {
    font-size: 20px;
  }
  .title-name-woman-mobile,
  .title-name-man-mobile {
    display: block;
    margin: 30px 0 0;
    font-size: 26px;
  }
  .price-man .price-set-man .price-item-man-1 .price-text,
  .price-man .price-set-man .price-item-man-2 .price-text,
  .price-man .price-set-man .price-item-man-3 .price-text,
  .price-man .price-set-man .price-item-man-4 .price-text,
  .price-man .price-set-man .price-item-man-5 .price-text,
  .price-man .price-set-man .price-item-man-6 .price-text {
    flex-direction: row;
  }
}

@media (max-width: 370px) {
  .price-text-core {
    font-size: 12px;
  }
  #link-direct-inst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 14px;
  }
}
